
@{
    ViewData["Title"] = "Index";
}

<h3>Cors Request</h3>
<button id="btnGetPatients">Get Patients</button>
<pre id="preOutput"></pre>

@section Scripts{ 
    <script>
          $(function () {
            var getPatients = function () {
              var url = "https://localhost:5001/api/patients/";
              $.get(url).always(showResponse);
              return false;
            };

            var showResponse = function (object) {
              $("#preOutput").text(JSON.stringify(object, null, 4));
            };

            $("#btnGetPatients").click(getPatients);
          });
    </script>
}
